:root {
    --azul-claro:#22D4FD;
    --branco:#F6F6F6;
    --preto:#000000;
    --fonte-titulo: 'Krona One';
    --fonte-texto: 'Montserrat';
}

body {
    background-color: var(--preto);
    margin: 5em 8em;
    font-size: 24px;
}

main {
    display: flex;
}

div {
    width: 50%;
}

h1 {
    font-size: 36px;
    font-family: var(--fonte-titulo);
    color: var(--branco);
}

.titulo-azul_portfolio {
    color: var(--azul-claro);
}

.texto_principal {
    font-family: var(--fonte-texto);
    color: var(--branco);
    margin: 3em 0;
}

.link_social {
    font-weight: 600;
    text-decoration: none;
    padding: 1em 1.5em;
    font-family: var(--fonte-texto);
    color: var(--preto);
    background: var(--azul-claro);
    border-radius: 16px;
}

.foto_desenvolvedora {
    padding: 2em;
    width: 33%
}
